{% extends 'maqueta.html' %}
{% load staticfiles %}


{% block principal %}
<form class="formul" method="POST">
Login
{% csrf_token %}
{{ form.as_p }}
¿Olvidaste tu contraseña?
<a href="#"> Recupera aquí </a><br>	
<input type="submit" value="Ingresar" class="btn-enviar"><br>
<a href="{% url 'social:begin' 'github' %}"><button type="button">Github Login</button></a><br>
<!-- <a href="{% url 'social:begin' 'facebook' %}"><button type="button">Facebook Login</button></a> -->
</form>
{% endblock %}