{% extends 'maqueta.html' %}
{% load staticfiles %}
{% block principal %}

<form class="formu" method="POST">
    <h1>Registro Usuario</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Enviar" class="btn-enviar">
    <h6>--- OR SIGN UP WITH ---</h6>
    <a href="{% url 'social:begin' 'github' %}"><button type="button">Github</button></a><br>

</form>

<!-- <table>
{% if personas %}
  <td>
    <tr>Rut Nombre Persona</tr>
  </td>
  {% for p in personas %}
    <tr>{{ p.user.username }}{{ p.nombrePersona }}</tr>
  {% endfor %}
{% else %}
  SIN PERSONAS
{% endif %}
</table>  -->
<!-- esta wea es pa ver si funciona -->

{% endblock %}